<div class="container">
  <div class="page-header">
    <h1>Editing Product Type</h1>
  </div>
    <%= render 'form', product_type: @product_type %>

  <div>
    <%= link_to 'Back', '/admin#products_tab01', class:'btn btn-default' %>
  </div>
</div>