<div class="text-right">
  <button type="button" class="btn btn-primary btn-md show-btn" data-toggle="modal" data-target="#newCountryModal">
    <span class="glyphicon glyphicon-plus"></span>
    <br>
    New Country
  </button>
</div>

<%= render 'countries/index/new_modal' %>