<div class="modal fade" id="newCountryModal" tabindex="-1" role="dialog" aria-labelledby="newCountry">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="newCountry">New Country</h4>
      </div>
      <div class="modal-body">
        <%= render 'countries/form', country: @country %>
      </div>
    </div>
  </div>
</div>