<div class="panel panel-default" style="margin-top:25px;width:90%">
  <div class="panel-heading">
    <h2 class="panel-title">Status Settings</h2>
  </div>
  <div class="panel-body">
    <div id="EmpStatus" style="width:300px;">
      <%= render 'employee_statuses/empstatus_table' %>
    </div>
    <div id="CustStatus" style="width:300px">
      <%= render 'customer_statuses/custstatus_table' %>
    </div>




  </div>
</div>