<div class="panel panel-default" style="margin-top:25px;width:90%">
  <div class="panel-heading">
    <h2 class="panel-title">Status Settings</h2>
  </div>
  <div class="panel-body">
    <div id="EmpStatus">

    </div>
    <div id="CustStatus" style="width:300px">
      <table class="table">
        <thead>
        <tr>
          <th>Customer Statuses</th>
          <th colspan="1"></th>
        </tr>
        </thead>

        <tbody>
        <% @customer_statuses.each do |customer_status| %>
            <tr data-link="<%= customer_status_path(customer_status) %>">
              <td><%= customer_status.customer_status_description %></td>
              <td><%= link_to 'Destroy', customer_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>




  </div>
</div>