<p id="notice"><%= notice %></p>

<p>
  <strong>Pickup status desc:</strong>
  <%= @pickup_status.pickup_status_desc %>
</p>

<%= link_to 'Edit', edit_pickup_status_path(@pickup_status) %> |
<%= link_to 'Back', pickup_statuses_path %>
