<p></p>
<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<div class="row" >
  <div class="col-lg-12" style="margin-left:10px">
    <%= render 'tabs' %>
  </div>
</div>

<script>
    $('#reports_tab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script>
