<p></p>

<div class="row" >
  <div class="col-lg-12" style="margin-left:10px">
    <%= render 'tabs' %>
  </div>
</div>

<script>
    $('#reports_tab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
    $('#colors_tab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
    $('#event_types_tab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
    $('#positions_tab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
    $('#products_tab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script>
