<div class="panel panel-default shadow-pane">
  <div class="panel-body">
    <div id="calendar"></div>
  </div>
</div>

<script>
    $(document).ready(function(){
        $('#calendar').fullCalendar({
            height: 765,
            events: '/events.json',
            header: {
                center: 'title',
                right: 'today prev,next',
                left: ''
            },
            timeFormat: 'h:mmA',
            eventRender: function (event, element) {$(element).css("margin-top", "8px");}
        });
    });
</script>

