<!-- Modal -->
<div class="modal fade" id="newWalkInModal" tabindex="-1" role="dialog" aria-labelledby="newWalkInLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="newWalkInLabel">New Walk-In</h4>
      </div>
      <div class="modal-body">
        <%= render 'customer_events/form', customer_event: @customer_event %>
      </div>
    </div>
  </div>
</div>

