<div class="row text-right">
  <div class="col-lg-6">
    <% if current_user.try(:admin?) %>
    <button type="button" class="btn btn-primary btn-md show-btn" data-toggle="modal" data-target="#editModal">
      <span class="glyphicon glyphicon-edit"></span>
      <br>
      Edit
    </button>
        <% end %>
  </div>

  <div class="col-lg-6">
    <%= link_to '<span class="glyphicon glyphicon-remove-sign"></span><br>Back'.html_safe, employees_path, class: "btn btn-md btn-primary show-btn", :method => :get %>
  </div>
</div>

<% if current_user.try(:admin?) %>
<%= render 'employees/show/edit_modal' %>
<% end %>