<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Ready for Pick-Up</h2>
  </div>
  <div class="panel-body">

    <div class="imaginary_container">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Product</th>
          <th>Color</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Phone</th>
          <th>Event</th>
          <th>Date</th>
          <th>Time</th>
        </tr>
        </thead>

        <tbody>
        </tbody>

      </table>
    </div>

    <div class="imaginary_container">
      <nav aria-label="...">
        <ul class="pager">
          <li class="previous"><a class="btn-previous" href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>
          <li class="next"><a class="btn-next" href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
      </nav>
    </div>

  </div>
</div>