
<div id="tabs">
  <ul class="text-center">
    <li><a href="#tabs-1"><span class="glyphicon glyphicon-fire"></span><br>In-Progress</a></li>
    <li><a href="#tabs-2"><span class="glyphicon glyphicon-gift"></span><br>Ready</a></li>
    <li><a href="#tabs-3"><span class="glyphicon glyphicon-ok-circle"></span><br>Picked-Up</a></li>
  </ul>
  <div id="tabs-1">
    <%= render 'progress' %>
  </div>
  <div id="tabs-2">
    <%= render 'ready' %>
  </div>
  <div id="tabs-3">
    <%= render 'picked_up' %>
  </div>
</div>

<script>
    $( function() {
        $( "#tabs" ).tabs();
    } );
</script>

