<p></p>

<div class="row">
  <div class="col-lg-12">
    <%= render 'tabs' %>
  </div>
</div>

<script>
    $('#progress a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
    $('#ready a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
    $('#picked_up a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script>

