<div class="panel panel-default" style="position:absolute;top:610px;">
  <div class="panel panel-heading"><h2 class="panel-title" style="font-size:20px">Revenue</h2>
    <span style="float:right;margin-top:-30px;">
    <button type="button" class="btn btn-primary"
            data-toggle="tooltip"
            data-placement="bottom"
            title="Total sales grouped by day.
            Sum of Product fees, Studio fees, and taxes for Events.
            Range: <%= 1.month.ago.strftime('%B %d, %y') %> to <%= Time.now.strftime('%B %d, %y') %>">
      <span class="glyphicon glyphicon-info-sign"></span>
    </button>
    </span></div>
  <div class="panel panel-body" style="padding:0px;padding-left:10px;">
    <%= area_chart Admin.EarningsRevenue ,
                   colors:["#DA70D6"], xtitle:["Date"],
                   ytitle: ["Monetary Value"],
                   height:"300px",width:"750px",download:true %></div>
</div>