<div class="panel panel-default" style="position:absolute;top:1030px;left:600px;">
  <div class="panel panel-heading"><h2 class="panel-title" style="font-size:20px">Number of Products Purchased Daily</h2></div>
  <div class="panel panel-body" style="padding:0px;padding-left:10px;">
    <%= area_chart Admin.DailyPurchase ,
                   colors:["#4C9C51"], xtitle:["Date"],
                   ytitle: ["Number of Products"],
                   height:"300px",width:"540px",download:true %></div>
</div>