<div class="panel pane-default shadow-pane parent">

  <div class="row"><div class="col-lg-10 col-lg-offset-1"><h4 style="text-decoration: underline">Event</h4></div></div>

  <div class="row text-center"><div class="col-lg-10 col-lg-offset-1">
    <h3><%= @customer_event.event.event_name %></h3>
    <h4><%= @customer_event.event.event_type.event_type_desc %></h4>
  </div></div>

  <div class="row"><div class="col-lg-10 col-lg-offset-1"><h4 class="no-margin-bottom" style="text-decoration: underline">Event Color</h4></div></div>

  <div class="event-box" style= "background-color: <%= @customer_event.event.color.color_code %>;"></div>

</div>
