<script>
    $(document).ready(function(){
        $('#calendar').fullCalendar({
            height: 500
        });
    });
</script>

<div class="panel panel-default">
  <div class="panel-body">
    <div id="calendar"></div>
  </div>
</div>

