
<div class="imaginary_container">
  <div class="row">
    <div class="col-lg-12">
      <%= render 'events/index/event_report' %>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-lg-12">
    <%= render 'events/index/walk_in_report' %>
  </div>
</div>



<%= render 'events/index/walk_in_modal' %>

<div class="col-lg-6">
  <button type="button" class="btn btn-primary btn-md show-btn" data-toggle="modal" data-target="#newWalkInModal">
    <span class="glyphicon glyphicon-plus"></span>
    <br>
    Walk-In
  </button>
</div>