<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-lg-4 col-lg-offset-1">
    <h1 style="color: #C33764">Events Calendar</h1>
  </div>

  <div class="col-lg-2 col-lg-offset-4">
    <%= render 'events/index/buttons' %>
  </div>
</div>

<br>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <%= render 'events/index/calendar' %>
  </div>
</div>


