<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-lg-5">
    <h1><%= link_to 'Customer', customers_path, style: "color: #C33764" %></h1>
  </div>

  <div class="col-lg-2 col-lg-offset-4">
    <%= render 'customers/index/buttons' %>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <%= render 'customers/index/customer_report' %>
  </div>
</div>
