<div class=" text-right">
  <button type="button" class="btn btn-primary btn-md show-btn" data-toggle="modal" data-target="#newWalkInModal">
    <span class="glyphicon glyphicon-plus"></span>
    <br>
    Walk-In
  </button>
</div>

<%= render 'walk_ins/walk_in_modal' %>