<div class="panel panel-default shadow-pane">
  <div class="panel-body">
    <div id="list"></div>
  </div>
</div>

<script>
    $(document).ready(function(){
        $('#list').fullCalendar({
            height: 780,
            header: {
                center: 'title',
                right: 'today prev,next',
                left: ''
            },
            defaultView: 'listDay'
        });
    });
</script>