<p id="notice"><%= notice %></p>

<p>
  <strong>Color code:</strong>
  <%= @color.color_code %>
</p>

<p>
  <strong>Color name:</strong>
  <%= @color.color_name %>
</p>

<%= link_to 'Edit', edit_color_path(@color) %> |
<a href="javascript:history.back()">Back</a>