<div class="imaginary_container">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Product</th>
      <th>Color</th>
      <th>Event</th>
      <th>Date</th>
      <th>Status</th>
    </tr>
    </thead>

    <tbody>
    <% @not_ready.each do |nr| %>
        <tr>
          <td><%= nr.product_name %></td>
          <td><span class="simplecolorpicker icon color-picked" style="background-color: <%= nr.color_code %>;"></span></td>
          <td><%= nr.event_name %></td>
          <td><%= nr.event_date.strftime("%-m/%-d/%y") %></td>
          <td><div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li>In-Progress</li>
              <li>Ready</li>
              <li>Collected</li>
            </ul>
          </div></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>



