<p></p>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <h1 style="color: #C33764">Dashboard</h1>
  </div>
</div>

<br>

<div class="row">
  <div class="col-lg-7 col-lg-offset-1">
    <div class="row">
      <%= render 'check_in' %>
    </div>
  </div>

  <div class="col-lg-3">
    <%= render 'today_list' %>
  </div>
</div>