<p id="notice"><%= notice %></p>

<p>
  <strong>Event type desc:</strong>
  <%= @event_type.event_type_desc %>
</p>

<%= link_to 'Edit', edit_event_type_path(@event_type) %> |
<a href="javascript:history.back()">Back</a>