<div class="row text-right">
  <div class="col-lg-6 col-lg-offset-6">
    <%= link_to '<span class="glyphicon glyphicon-remove-sign"></span><br>Back'.html_safe, customer_path(params[:customer]), class: "btn btn-primary btn-md show-btn", :method => :get %>
  </div>
</div>
