<div class="container" style="padding-top:50px">
  <div style="float:left"><%= image_tag 'TeamLogo.png' %></div>
  <div style="float:left;padding-left:50px;padding-top:50px">
    <h1>About Us</h1>
    <p>Vidatech Solutions</p>

    <p>Contact us at:</p>
    <p>Email: Vidatechsltn@gmail.com</p>
    <p>Phone: 832-566-5907</p>
  </div>
</div>
