<div class="container" style="padding-top:50px">
  <div class="row">
    <div style="float:left"><%= image_tag 'TeamLogo.png', width:'250' %></div>
    <div style="float:left;padding-left:50px;padding-top:50px;max-width:500px">
      <h1>Vidatech Solutions</h1>
      <p>G.O.L.E.M.S. was developed by Vidatech Solutions, sponsored by Glazed Over Ceramics Studio. </p>
      <br>
      <p><b>Contact us at:</b></p>
      <p>Email: Vidatechsltns@gmail.com</p>
    </div>
  </div>
  <br>
  <div class="row">
    <div style="float:left"><%= image_tag 'glazedover.gif', width:'250' %></div>
    <div style="float:left;padding-left:50px;padding-top:50px;max-width:500px">
      <h1>About Us - Glazed Over Ceramics Studio</h1>
      <p>Glazed Over is a paint-your-own-pottery (ceramics)
        and glass-fusing studio located in Houston, Texas.</p>
      <br>
      <p><b>Contact us at:</b></p>
      <p>Address: 14627-B Memorial Drive : Houston, Texas 77079</p>
      <p>Voice: (281) 497-7272 : Fax (281) 497-0303</p>
      <p>Email: info@glazedoverceramics.com</p>
    </div>
  </div>
  <br>
  <div class="row">
    <button class="btn btn-primary" style="width:50%">Click here to view User Manual</button>
  </div>
</div>
