<%= form_for @employee_event, url: create_host_path, :html => {:method => :post} do |f| %>
    <div class="col-lg-4">
      <%= f.collection_select(:employee_id, Employee.all, :id, :full_name, {prompt: "Select An Employee"}, {class: "form-control"}) %>
    </div>

    <%= f.hidden_field(:event_id, value: @event.id) %>

    <div class="col-lg-2">
      <%= button_tag(type: 'submit', class: "btn btn-md") do %>Add <span class="glyphicon glyphicon-plus"></span><% end %>
    </div>
<% end %>