<%= form_for @employee_event, url: create_host_path do |f| %>
    <%= f.hidden_field(:event_id, value: @event.id) %>

    <div class="col-lg-4">
      <%= f.collection_select(:employee_id, Employee.all.where("employee_status_id <> 2").order("first_name"), :id, :full_name, {prompt: "Select An Employee"}, {class: "form-control"}) %>
    </div>

    <div class="col-lg-2">
      <%= button_tag(type: 'submit', class: "btn btn-md btn-default") do %>Add <span class="glyphicon glyphicon-plus" style="color: seagreen"></span><% end %>
    </div>
<% end %>