<div class="row">
  <div class="col-lg-6 col-lg-offset-2">
    <%= form_tag customers_path, :method => 'get',class:"input-group stylish-input-group" do %>
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder:"Search" %>
        <span class="input-group-addon">
            <%= button_tag(type: 'submit') do %>
            <span class="glyphicon glyphicon-search"></span>
            <% end %>
                  </span>
    <% end %>
  </div>

  <div class="col-lg-1 col-lg-offset-2">
    <button type="button" class="btn btn-primary btn-md show-btn" data-toggle="modal" data-target="#newModal">
      <span class="glyphicon glyphicon-plus"></span>
      <br>
      New Customer
    </button>
  </div>
</div>

