<table class="scsttable">
  <thead class="scsttable">
  <tr>
    <th class="scsttable col-lg-5">Employee Status</th>
    <th class="scsttable col-lg-2">Action</th>
  </tr>
  </thead>

  <tbody class="scsttable">
  <% @employee_statuses.each do |employee_status| %>
      <tr class="scsttable" data-link="<%= employee_status_path(employee_status) %>">
        <td class="col-lg-5"><%= employee_status.employee_status_desc %></td>
        <td class="col-lg-2"><div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><%= link_to 'Show', employee_status %></li>
            <li><%= link_to 'Delete', employee_status_path(employee_status, type: :normal),
                            method: :delete,class: ' ',
                            data: { confirm: 'WARNING, DELETING THIS WILL DELETE ALL CUSTOMER DATA' } %></li>
          </ul>
        </div></td>
      </tr>
  <% end %>
  </tbody>
</table>