<div class="row">
  <div class="col-lg-4 text-center">
    <%= link_to '<span class="glyphicon glyphicon-pencil"></span><br>Color'.html_safe, colors_path, class: "btn btn-primary btn-lg modal-btn", :method => :get %>
  </div>
  <div class="col-lg-4 text-center">
    <%= link_to '<span class="glyphicon glyphicon-calendar"></span><br>Event Type'.html_safe, event_types_path, class: "btn btn-primary btn-lg modal-btn", :method => :get %>
  </div>
  <div class="col-lg-4 text-center">
    <%= link_to '<span class="glyphicon glyphicon-paperclip"></span><br>Position'.html_safe, positions_path, class: "btn btn-primary btn-lg modal-btn", :method => :get %>
  </div>
  <div class="col-lg-4 text-center">
    <%= link_to '<span class="glyphicon glyphicon-bell"></span><br>Product'.html_safe, products_path, class: "btn btn-primary btn-lg modal-btn", :method => :get %>
  </div>
</div>