<div class="row">
  <div class="col-lg-4 text-center">
    <%= link_to '<span class="glyphicon glyphicon-fire"></span><br>In-Progress'.html_safe, pickups_path, class: "btn btn-primary btn-lg modal-btn btn-danger", :method => :get %>
  </div>
  <div class="col-lg-4 text-center">
    <%= link_to '<span class="glyphicon glyphicon-gift"></span><br>Pick-Up'.html_safe, pickups_path, class: "btn btn-primary btn-lg modal-btn btn-warning", :method => :get %>
  </div>
  <div class="col-lg-4 text-center">
    <%= link_to '<span class="glyphicon glyphicon-ok-circle"></span><br>Picked-Up'.html_safe, pickups_path, class: "btn btn-primary btn-lg modal-btn btn-primary", :method => :get %>
  </div>
</div>