<div class="row">
  <div class="col-lg-4 text-center">
    <%= link_to '<span class="glyphicon glyphicon-fire"><br>In-Progress</span>'.html_safe, pickups_path, class: "btn btn-primary btn-lg", :method => :get %>
  </div>
  <div class="col-lg-4 text-center">
    <%= link_to '<span class="glyphicon glyphicon-gift"><br>Pick-Up</span>'.html_safe, pickups_path, class: "btn btn-primary btn-lg", :method => :get %>
  </div>
  <div class="col-lg-4 text-center">
    <%= link_to '<span class="glyphicon glyphicon-ok-circle"><br>Picked-Up</span>'.html_safe, pickups_path, class: "btn btn-primary btn-lg", :method => :get %>
  </div>
</div>