<div class="imaginary_container">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Event Type</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @event_types.only_deleted.each do |event_type| %>
        <tr data-link="<%= event_type_path(event_type) %>">
          <td><%= event_type.event_type_desc %></td>
          <td><%= link_to 'Restore', event_type_path(event_type, type: :restore),method: :delete,
                          class: 'btn btm-mini btn-warning',
                          data: {
                              confirm: 'Are you sure you want to restore ' + event_type.event_type_desc + '?'
                          } %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
