<div class="imaginary_container">
  <div class="panel panel-defeault">
    <div class="panel panel-heading"><h4>Colors</h4>
    </div>
    <div class="panel panel-body">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Color</th>
      <th>Color Code</th>
      <th>Color Name</th>
      <th>Action</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @colors.only_deleted.each do |color| %>
        <tr class="no-pointer">
          <td><span class="simplecolorpicker icon color-picked" style="background-color: <%= color.color_code %>;"></span></td>
          <td><%= color.color_code %></td>
          <td><%= color.color_name %></td>
          <td><%= link_to 'Restore', color_path(color, type: :restore),method: :delete,
                          class: 'btn btm-mini btn-warning',
                          data: {
                              confirm: 'Are you sure you want to restore this color?'
                          }, redirect_to: '/colors' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
    </div></div></div>