<div class="text-right">
  <button type="button" class="btn btn-primary btn-md show-btn" data-toggle="modal" data-target="#newProductModal">
    <span class="glyphicon glyphicon-plus"></span>
    <br>
    New Product
  </button>
</div>

<%= render 'products/index/new_modal' %>