<div class="modal fade" id="newProductModal" tabindex="-1" role="dialog" aria-labelledby="newProduct">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="newProduct">New Product</h4>
      </div>
      <div class="modal-body">
        <%= render 'products/form', product: @product %>
      </div>
    </div>
  </div>
</div>